.WordGroupsContainer { 
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 1em;
    background-color: #638595;
    background-position: -250px;
    height: 100vh;

    input {
        width: 25px;
        height: 25px;
        display: flex;
        margin-right: 5px;
        accent-color: #000;
    }
}
.accordionContainer:last-child {
    margin-bottom: 60px;
}
.wordGroup {
    height: 0px;
    label {
        display: flex;
        align-items: center;
    }
}

.wordGroupToggle-el { 
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0; 
    transition: visibility 0s, opacity 0.3s linear;
    opacity: 0; 
}
input[type="checkbox"].hide-input:checked + .wordGroupToggle-el {    
    visibility: visible;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    background: #fff;
    overflow: hidden;
    opacity: 1;
        
    .wordGroup { 
        height: 35px;
    }
}
input.hide-input {
    position: absolute;
    left: -999em;
}
.wordGroupToggle {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    font-size: 1rem;
    color: #fff;
    background: #7f6395;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    box-shadow: 0px 3px 5px 0px black;
}

