.formItem {
	height: 60px;
	width: 100%;
    float: left;
}
.formItem label{
	width: 110px;
	float: left;
}
.formItem input{
	width: 100%;
	height: 50px;
	float: left;
	padding: 10px;
	border: 0px; 
    font-size: 21px;
	border-radius: 10px;
}

 