.game3Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #636e95;
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .wordButtonsContainer  {
        text-align: center;
        button {
            width: 200px;
            border: none;
            font-size: 23px;
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 7px;
            background-color: #f0f0f0e6;
            box-shadow: 0 0 7px 1px #000;
            border-radius: 5px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                background-color: #a4a4a45d;
                box-shadow: none;
            }
            &.activeButton,
            &.matchedButton {
                background-color: #71ec71;
            }
            &.notMatchedButton {
                background-color: #f74343;;
            }
            &.disabledButton {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .clickedWordBox {
        background-color: #71ec71;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px #00000033;
        text-align: center;
        top: 0;
        position: absolute;
        margin-top: 110px;
    }

    .clickedWordText {
        color: #000;
        font-size: 24px;
        font-weight: bold;
    } 
}