.gamesContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: #638595;
    height: 100vh;
}
.game {    
    flex: 1 0 calc(100% - 40px);
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px black;
    margin: 5px;
    position: relative;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: none;
        .playGameText {
            opacity: 1;
            transition: 0.3s;
        }
    }
    .playGameText{
        background-color: #895cfe;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border: solid 3px #fff;
        border-radius: 7px;
        top: 0;
        position: absolute;
        color: #ffffff;
        right: 0;
        box-shadow: 0 0 4px 0px #000;
        opacity: 0;
    }
    
    &:last-child {
        margin-bottom: 70px;
    }
}

.game1 { 
    background-color: #8b62b1;
}
.game2 { 
    background-color: #e0c3fc;
}
.game3 {
    background-color: #8b91ed;
}
.game4 {
    background-color: #8ec5fc;
}
.game5 {
    background-color: #8efcb8;
}
.game6 {
    background-color: #fc8e8e;
}
  