.gamesContainer {
    display: flex;
    flex-wrap: wrap;   
    overflow-y: scroll;
}
.game {    
    width: calc(33.333333333% - 10px);
    height: 140px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px black; 
    margin: 5px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    a {
        color: #000;
    }
    &:hover {
        box-shadow: none;
        opacity: 0.7;
    }
}

.game1 {
    background: linear-gradient(150deg, #fccdc3 0%, #8efcc7 100%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 3s ease infinite;
	-moz-animation: Gradient 3s ease infinite;
	animation: Gradient 3s ease infinite;
}
.game2 { 
    background-color: #e0c3fc; 
    background-image: url('../../files/images/game2thumbnail.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    border: 2px solid #000;
}
.game3 {
    background-color: #8b91ed;
    background-image: url('../../files/images/game4thumbnail.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}
.game4 {
    background-color: #8ec5fc;
    background-image: url('../../files/images/i4.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}
.game5 {
    background-color: #8efcb8;
    background-image: url('../../files/images/i1.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}