.game5Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.imageContainer {
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column; /* Display buttons vertically */
    align-items: center; /* Center buttons horizontally */
    width: 100%;
}

.gameButton {
    width: 220px;
    margin: 10px 0; /* Add some spacing between buttons */
    padding: 20px 40px;
    background-color: #025e0f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    &.disabled {
        opacity: 0.5; /* Example: Reduce opacity for disabled buttons */
        pointer-events: none; /* Disable clicking on disabled buttons */
    }
}