.accountContainer {
    background-color: #638595;
    height: 100vh;
}
.userInfo {
    width: 100%;
    background: #98b2da;
}
.logoutBtn {
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    background-color: #7f6395;
    margin-top: 20px;
}